* {
	margin: 0px;	
	padding: 0px;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 5px;
  }
  ::-webkit-scrollbar-track {
	background: #fff;
  }
  ::-webkit-scrollbar-thumb {
	background: #B0B1B2;
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #999;
  }
body {
	background-color: white;
}
.main-block {
	display: flex;
	width: 100vw;
	height: 1024px;
	overflow: hidden;
}
.categories-place {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
	width: 30%;
}
.categories-place h3 {
	padding: 20px;
}
.static-place {
	border-right: grey 1px solid;
	border-left: grey 1px solid;
	width: 35%;
	max-height: 100%;
	background-color: white;
	overflow: hidden;
	overflow: scroll;
}
.product-item {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	padding: 30px 20px;
	cursor: pointer;
}
.product-item:hover {
	background-color: #F1EFF4;
}
.product-item img {
	width: 50px;
	height: 50px;
	background-color: skyblue;
}
.product-item .price {
	font-size: 20px;
	font-weight: 700;
}
.main-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 200px;
}
.cart {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	background-color: white;
}
.products-incart-place {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow: scroll;
	padding: 20px;
}
.product-inCart {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.filter {
	width: 100%;
	padding: 20px;
	font-size: 24px;
	color: grey;
	cursor: pointer;
}
.filter:hover {
	color: black;
	background-color: #F1EFF4;
}
.top-side {
	display: flex;
	justify-content: space-between;
}
.top-side div {
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-bottom: 10px;
}
.bottom-side {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}
.delete-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #01798A;
	color: white;
	font-size: 24px;
	cursor: pointer;
}
.select-qt {
	display: flex;
	align-items: stretch;
	border: 1px solid grey;
	height: 50px;
}
.select-qt .increase-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: black;
	font-size: 34px;
	font-weight: 700;
	border: none;
	transition: .3s ease;
	border-bottom: 1px solid grey; 
}
.select-qt .increase-btn:hover {
	background-color: #01798A;
	color: white;
}
.increase-delete-btns {
	display: flex;
	justify-content: space-between;
	width: 250px;
}
.card-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: #01798A;
}
.card-btn span {
	color: white;
	font-size: 24px;
	text-transform: uppercase;
}
.qt-input {
	height: 48px;
	width: 50px;
	border: none;
}
.b-btn {
	background-color: #01798A;
}
.form-inline {
	display: flex;
	justify-content: start;
	width: 585px;
	height: 68px;
	transform: translate(-338px, -1px);
}
.form-inline .form-control {
	width: 50%;
	height: 100%;
	border: none;
	outline: none;
}
.navbar {
	padding: 0px;
	height: 70px;
	border-bottom: 1px solid grey;
}
.btn-sm {
	background-color: white;
	border: none;
	height: 69px;
	outline: none;
}
.btn-sm:hover {
	background-color: white;
}
.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	background-color: #FCD5B8;
} 
.dropdown em {
	color: black;
}
.navbar-toggler {
	background-color: darkgray;
}
.navbar-nav {
	background-color: white;
}